

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #deefe0;
}

#name{
    margin: 1rem;
    width: 500px;
    height: 30px;
    font-size: 30px;
}

#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-button {
    margin: 0.4rem;
}
.search-button{
    margin: 1rem;
    border: 1px solid black;
    background-color: rgb(242, 227, 227);
    width: 150px;
    font-size: 20px;
}


#artist{
    font-size: 4rem; 
    text-transform: capitalize;
}
#track{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.artwork{
    margin: 1rem;
    display: block;
    height: auto;
    width: 300px;
    border-radius: 35px 35px 35px 35px;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: rgb(172, 203, 235);
  }
  50% {
    background-color: rgb(222,239,224);
  }
  100% {
    background-color: rgb(172, 203, 235);
  }
}

.artwork img{
    margin-top: 1rem;   
}
.track{  
    color: darkred;
    text-align: center;
    padding: auto;
    
}

